<!DOCTYPE html>
<html lang="zh-CN">

    <head>
        <title></title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel='stylesheet' href='/css/bootstrap.css' />
        <script src="/js/jQuery.js"></script>
        <script src="/js/bootstrap.js"></script>
      </head>

<body>
    <%-include("header.ejs")%>

    <div class="container">
        <div class="content-wrap">
            <div class="content">

                <% for(i=0;i<blog.length;i++){ %>
                <header class="article-header">
                    <h1 class="article-title"><a href="#"><%= blog[i].title %></a></h1>
                    <div class="article-meta ">
                        <span class="item category"><a href="# "><%= blog[i].tag %></a></span>
                        <span class="item time "><%= blog[i].create_time %></span>
                        <span class="item tags"><%= blog[i].keysword %></span>
                        <span class="item views"><i class="glyphicon glyphicon-eye-open"></i> <%= blog[i].visitor %></span>
                    </div>
                </header>

                <article class="article-content">
                    <p><%= blog[i].content %></p>
                   
                </article>
                <% } %>
                <div class="title">
                    <h3>评论</h3>
                </div>
                <div class="article-comment">
                    <form action="" method="POST">
                        <input type="text" class="form-control" placeholder="您的昵称（必填）">
                        <input type="text" class="form-control" placeholder="您的邮箱或联系电话（非必填）">
                        <textarea class="form-control" rows="3" placeholder="您的评论或留言（必填）"></textarea>
                        <button type="button" class="btn btn-default">发布评论</button>
                    </form>
                </div>

                <div class="postcomments">
                    <ol class="commentlist">
                        <li class="comment-content"><span class="comment-f">#2</span>
                            <div class="comment-main">
                                <p><a class="name" href="#" target="_blank">zx@reedo.cn</a><span class="time"> 2016/10/28 11:41:03</span><br>不错的网站主题，看着相当舒服</p>
                            </div>
                        </li>
                        <li class="comment-content"><span class="comment-f">#2</span>
                            <div class="comment-main">
                                <p><a class="name" href="#" target="_blank">九日</a><span class="time"> 2016/10/28 11:41:03</span><br>不错的网站主题，看着相当舒服</p>
                            </div>
                        </li>
                    </ol>
                </div>
            </div>

            <div class="sidebar ">
                <div class="widget widget_hot">
                    <h3>文章目录</h3>
                    <ul>
                        <li><a title="" href="#"><span class="text">用DTcms做一个独立博客网站（响应式模板）</span></a></li>
                        <li><a title="" href="#"><span class="text">用DTcms做一个独立博客网站（响应式模板）</span></a></li>
                    </ul>
                </div>
                <div class="widget widget_hot ">
                    <h3>最新文章</h3>
                    <ul>
                        <li>
                            <% for(i=0;i<blog.length;i++){ %>
                                <a title="" href="#">
                                    <span class="text"><%= blog[i].title %></span>
                                    <span class="muted">
                                                <i class="glyphicon glyphicon-time"></i>
                                                <%= blog[i].create_time %>
                                            </span>
                                    <span class="muted">
                                                <i class="glyphicon glyphicon-eye-open"></i> <%= blog[i].visitor %></span>
                                </a>
                                <% } %>
                        </li>
                        
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <%-include("footer.ejs")%>



    
</body>

</html>