<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel='stylesheet' href='/css/bootstrap.css' />
    <script src="/js/jQuery.js"></script>
    <script src="/js/bootstrap.js"></script>
  </head>
  <body>
    <!-- 导航栏 -->
    <%-include("header.ejs")%>


    <!-- 轮播图 -->
    <div class="container">
      <div class="introBanner">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <!-- 小圆点点 -->
              <ol class="carousel-indicators">
                  <% for(i=0;i<swiper.length;i++){ %>
                      <li data-target="#carousel-example-generic" data-slide-to="<%= i %>" class="<%= i==0?'active':'' %>"></li>
                  <% } %>
              </ol>
              <!-- 轮播图图片 -->
              <div class="carousel-inner" role="listbox">
                  <% for(let i = 0 ; i < swiper.length; i++){ %>
                      <div class="<%= i == 0 ? 'item active' : 'item' %>">
                          <img style="width:100%;height:300px" src="<%= swiper[i].imgurl %>" alt="<%= swiper[i].content %>">
                          <div class="carousel-caption">
                              <%= swiper[i].title %>
                          </div>
                      </div>
                  <% } %>
              </div>
              <!-- 按钮 -->
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
              </a>

          </div>
      </div>


      <!-- 帖子内容 -->
      <div class="content-wrap">
          <div class="content">
              <div class="title">
                  <h3>最新发布</h3>
                  <div class="more">
                    <% for(i=0;i<tags.length;i++){ %>
                      <a href="#"><%= tags[i] %></a>
                      <% } %>
                  </div>
              </div>
              <div class="excerpt">
                <% for(i=0;i<blog.length;i++){ %>
                  <header>
                      <a class="cat" href="#"><%= blog[i].tag %><i></i></a>
                      <h2><a href="/blog"><%= blog[i].title %></a></h2>
                  </header>
                  <p><%= blog[i].contentintro %></p>
                  <p class="meta">
                      <a class="category" href="/blog"><i class="glyphicon glyphicon-folder-open"></i> <%= blog[i].keywords %></a>
                      <a class="time" href="/blog"><i class="glyphicon glyphicon-time"></i> <%= blog[i].create_time %></a>
                      <a class="views" href="/blog"><i class="glyphicon glyphicon-eye-open"></i> <%= blog[i].visitor %></a>
                      <a class="comment" href="/blog"><i class="glyphicon glyphicon-comment"></i> <%= blog[i].comment %></a>
                  </p>
                  <% } %>
              </div>
              
              <!-- 分页 -->
              <nav aria-label="Page navigation">
                  <ul class="pagination">
                      <li>
                          <a href="#" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                          </a>
                      </li>
                      <li><a href="#">1</a></li>
                      <li><a href="#">2</a></li>
                      <li><a href="#">3</a></li>
                      <li><a href="#">4</a></li>
                      <li><a href="#">5</a></li>
                      <li>
                          <a href="#" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                          </a>
                      </li>
                  </ul>
              </nav>
          </div>

          <!-- 侧边栏 -->
          <div class="sidebar">
              <div class="widget widget_hot">
                  <h3>最新文章</h3>
                  <ul>
                      <li>
                        <% for(i=0;i<blog.length;i++){ %>
                          <a title="" href="/blog">
                              <span class="text"><%= blog[i].title %></span>
                              <span class="muted">
                                          <i class="glyphicon glyphicon-time"></i>
                                          <%= blog[i].create_time %>
                                      </span>
                              <span class="muted">
                                          <i class="glyphicon glyphicon-eye-open"></i> <%= blog[i].visitor %></span>
                          </a>
                          <% } %>
                      </li>
                  
                  </ul>
              </div>
              
              <div class="widget widget_sentence">
                  <h3>标签云</h3>
                  <ul>
                    <% for(i=0;i<tags.length;i++){ %>
                      <li><a href="#"><%= tags[i] %><span class="badge">1</span></a></li>
                      <% } %>
                    
                  </ul>
              </div>
          </div>
      </div>
  </div>

      <%-include("footer.ejs")%>
</body>



</html>

  
  <script>
    //用JQuery 发送ajax请求
    var timer = true;
    $('#getCode').click(function(){
      if(timer){
        $.ajax({
      url:'http://localhost:3000/identify/code',
      type:'POST',
      dataType:'text',
      data:{email:$('#inputEmail3').val()},
      success:function(res){
        console.log(res);
      }
     })

    //  $('#getCode').html('60秒后重发');
    //  timer = false;
    jishi();
  
      
      }
    })
 
    var timeClock;
    //计时器函数
    function jishi(){
      timer =false;
      // console.log(timer);
      var timerNum = 60 ;
      timeClock = setInterval(function(){
        timerNum --;
        $('#getCode').html(timerNum + '秒后重发');
        if(timerNum == 0){
          clearInterval(timeClock);
          $('#getCode').html('重发');
          timer =true;
          // console.log(timer);
          
        }
      },1000)
  
    }

  
    
    

    //用正则匹配邮箱，用户名，密码是否规范
   // onblur 事件 事件对象 实例 当用户离开input输入框时执行一段Javascript代码
  //封装一个获取div的id的函数
   function divId(elementId){
  return document.getElementById(elementId);
    }
    
    //验证填写邮箱是否规范
    function checkEmail(){
      //获取所填入的邮箱
      var email = $('#inputEmail3').val();
      // console.log(email);
      //获取divId
      var emailId = divId('email_prompt');
      emailId.innerHTML = '';
      var zhengze = /^\w+@\w+(\.[a-zA-Z]{2,3}){1,2}$/;
      // test() 方法用于检测一个字符串是否匹配某个模式
      // RegExpObject.test(string)
      // 如果字符串 string 中含有与 RegExpObject 匹配的文本，则返回 true，否则返回 false。
      if(zhengze.test(email) == false){
        emailId.innerHTML = '邮箱输入格式错误，例如web@qq.com'
        
      }else{
        // console.log(1);
        emailId.innerHTML ='';
        var getCode = document.getElementById('getCode');
        getCode.removeAttribute("disabled");
      }
      
      
    }

    //验证验证码是否规范
    function checkCode(){
      var code = $('#inputCode').val();
      var  codeId = divId('code_prompt');
      codeId.innerHTML ='';
      var  zhengze = /^\d{6}$/;
      if(zhengze.test(code) == false){
        codeId.innerHTML ='验证码为6位数字，请重新输入';
        return false

      }
      return true
    }
//验证手机号是否正确
    function checkPhone(){
      var phone= $('#inputPhone').val();
      var  phoneId = divId('Phone_prompt');
      phoneId.innerHTML ='';
      var  zhengze = /^\d{11}$/;
      if(zhengze.test(phone) == false){
        phoneId.innerHTML ='电话号码为11位数字，请重新输入';
        return false

      }
      return true
    }

    //验证用户名是否规范
    function checkUsername(){
      var username = $('#inputUsername').val();
      var usernameId = divId('username_prompt');
      usernameId.innerHTML = '';
      var zhengze =/^[\u4e00-\u9fa5\w]{4,6}$/;
      if(zhengze.test(username) == false){
        usernameId.innerHTML = '用户名由长度为4-6的字母或数字或下划线或汉字组成'
        return false
      }
      return true
    }

    //验证密码是否规范
    function checkPassword(){
      var pwd = $('#inputPassword3').val();
      // console.log(pwd);
      var passwordId = divId('password_prompt');
      passwordId.innerHTML = '';
      var zhengze = /^[a-zA-Z0-9]{6,15}$/;
      if(zhengze.test(pwd) == false){
        passwordId.innerHTML = '密码由长度为6-15的英文字母或数字或下划线，必须以大写字母开头'
        return false
      }
      return true
    }

    //验证再次输入的密码是否与前一次一样
   function  checkRepwd(){
    //获取密码框的值
    
    var pwd = $('#inputPassword3').val();
    // console.log(pwd);
    //获取再次输入的密码
    var repwd = $('#inputRePassword').val();
    // console.log(repwd);
    //获取divID
    var repwdId = divId('repwd_prompt');
    repwdId.innerHTML = '';

    if(repwd != pwd){
      repwdId.innerHTML = '两次输入的密码不一样'
        return false
    }
      return true
   
   }
   
   
  
    
  </script>
</html>
